.header {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

.header__image {
  max-width: 254px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }
  .header__image {
    height: 66px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    padding-top: 20px;
  }
  .header__image {
    height: 52px;
    width: 188px;
  }
}
