.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
  margin: 118px auto 92px;
  justify-content: center;
}

.photo-grid__item {
  object-fit: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    margin: 64px auto 88px;
    max-width: 720px;
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin: 38px auto 62px;
    max-width: 288px;
    padding: 0 16px 0;
  }
}
