.place {
  display: grid;
  grid-template-areas:
    "title artists"
    "image description"
    "button description";
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto 460px auto;
  column-gap: 40px;
  row-gap: 48px;
  margin-top: 92px;
}

.place__title {
  grid-area: title;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0%;
  margin: 0;
}

.place__image {
  grid-area: image;
  width: 100%;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  height: 460px;
}

.place__image:hover {
  opacity: 0.5;
}

.place__button {
  grid-area: button;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: Inter;
  background-image: linear-gradient(to right, #0278fe, #003a7b);
  color: #fff;
  border: 0px;
  padding: 13px 20px;
  height: fit-content;
  /* usado para elementos que tem texto */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
}

.place__description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
}

.place__description p {
  margin: 0;
}

.place__artists {
  grid-area: artists;
  align-self: flex-end;
}

.place__artists-artists {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
  padding-bottom: 8px;
}

.place__artists-artist {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0%;
}

.place__artists p {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: auto 340px auto;
    margin-top: 88px;
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
  }

  .place__image {
    height: 340px;
  }

  .place__description {
    font-size: 16px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    display: grid;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "description"
      "button";
    grid-template-columns: 320px;
    grid-template-rows: auto;
    row-gap: 30px;
    margin-top: 62px;
  }

  .place__title {
    grid-area: title;
    font-size: 32px;
    line-height: 35px;
    margin: 0;
    padding: 0 16px 0;
  }

  .place__artists {
    padding: 0 16px 0;
  }

  .place__image {
    grid-area: image;
    width: 320px;
    height: 320px;
  }

  .place__description {
    padding: 0 16px 0;
  }

  .place__button {
    font-size: 14px;
    margin: 0 16px 0;
  }
}
